@charset "utf-8";

main{
    width: 80%;
    max-width: 1000px;
    margin: auto;
}
#tores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

div{
    height: 500px;
    margin: auto;
}
@media screen and (max-widrh: 400px){
    #tores{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}